/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require leaflet
 *= require leaflet.ie
 *= require_tree .
 */

 @import url(http://fonts.googleapis.com/css?family=Droid+Sans);

 /*.header_banner{
  font-family: 'Droid Sans', sans-serif;
  position: absolute;
  z-index:100;
  ;
 }

.header_banner a { text-decoration:none; }
.header_banner a:visited { color: #3D3A3A;}
.header_banner a:link { color: #3D3A3A;}
.header_banner a:active { color: #3D3A3A;}
.header_banner a:hover { color: #3D3A3A;}*/